*{
    margin: 0; 
    padding: 0;
    
    
}

p{

    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;

}

menu li {

    height: 100px;
    vertical-align: center;
    text-align: center; 
    background-color:#4FD67D; 
    width: 50%; 
    font-size: medium;
    color: white;
    font-family: Verdana;
    margin: 0px;
    
}
.borda-img {
    border: 35px #4FD67D ;
    display:block;
    margin: 0 auto;
    border-style: groove;}

figcaption{
    text-align: center;
    margin-bottom: 20px;
}

.texto-h1{

    position: relative;
    top: 25%;

}
main{
    padding: 70px;
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    justify-content: center;
    background-color: rgb(186, 242, 215);
    border-radius: 4px;
    margin-top: 60px;


}

header{
    height: 120px;
    background-image: linear-gradient(#a4eabb, #059052);
    display: flex;


}

.texto-header{
    font-family: Cambria;
    font-size: 50px;
    
    font-weight: bold;
    color: white;
    margin: auto




}
.menu{
    list-style: none;
    float: left;
    width: 100%;
    background-color:#05512f;
    display: flex;
    justify-content: center;
    
    
}
.menu li{
    font-family: Cambria;
    position:relative;
    float:left;
    font-size: larger;
    font-weight: bolder;
    

    
}
.imagem-conteudo{
    border: 2px solid;
    border-radius: 20px;
    margin-top: 30px;
    display: block;
    margin: auto;

}
h2{
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    background-image: linear-gradient(to right, #118f56,transparent);
    border-radius: 1px;
}
blockquote{
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #118f56;
}
.espacoinicial{
    text-indent: 20px;
}

.menu li a{
    color:#fff;
    text-decoration:none; 
    padding:5px ; 
    display:block;
}
.menu li a:hover{
    background: #059052;
    color:#4FD67D;
    
}
aside{
    width: 100%;
    overflow: hidden;
}
.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#059052;
    display:none;
}
.menu li:hover ul, .menu li.over ul{
    display:block;

}
.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    font-size: medium;
}

table,  tr, td{
    margin: auto;
    margin-top:50px;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
    text-overflow: clip;

}
footer{
    
    height: 50px;
    width: 100%; 
    background-color:rgb(18, 198, 111);
    text-align: center;
    position: relative;
    margin-top: 50px;
    left: 0;

}
.footer-text{
    position: relative;
    bottom: 0;

    font-size: 21px;
}
